third_party/vllm/
third_party/verl/

train/env.sh

checkpoints/
train/checkpoints/

data/deepscaler/

results/
outputs/
logs/
*.log
*.out
wandb/

__pycache__/
*.pyc
*.so
*.egg-info/
.eggs/
build/
dist/
.venv/

.ipynb_checkpoints/
.DS_Store
